/*================================================================
	Tables, Nodes, Sensors, Events
----------------------------------------------------------------*/
.nodelist td, .nodelist th {
    padding-right: 8px;
    padding-left: 4px;
    text-align: left;
    border: 1px solid #999999;
}

.nodelist th {
    background-color: #dddddd;
}

.sensorlist td, .sensorlist th {
    padding-right: 8px;
    padding-left: 4px;
    text-align: left;
    border: 1px solid #999999;
}

.sensorlist th {
    background-color: #dddddd;
}

.rulelist td, .rulelist th {
    padding-right: 8px;
    padding-left: 4px;
    text-align: left;
    border: 1px solid #999999;
}

.rulelist th {
    background-color: #dddddd;
}

.digitalIOControl td, .digitalIOControl th {
    padding-bottom: 4px !important;
	padding-right: 8px;
    padding-left: 4px;
    text-align: left;
    border: 1px solid #999999;
}

.digitalIOControl th {
    background-color: #dddddd;
}

.eventlist td, .eventlist th {
    padding-right: 8px;
    padding-left: 4px;
    text-align: left;
    border: 1px solid #999999;
}

.eventlist th {
    background-color: #dddddd;
}

.nodeinfo td, .nodeinfo th, .sensorinfo td, .sensorinfo th {
    width: 25%;
	padding-right: 16px;
    padding-left: 4px;
    text-align: left;
    border: 1px solid #999999;
}

.routeinfo td, .routeinfo th {
	padding-right: 16px;
    padding-left: 4px;
    text-align: left;
    border: 1px solid #999999;
}

.nodeinfo th, .sensorinfo th {
    background-color: #dddddd;
}

.routeinfo th {
    background-color: #dddddd;
    width: 25%;
}

.intersection {
	padding-bottom: 40px;
}

/*================================================================
    Module
----------------------------------------------------------------*/
table.nwinfo {
	width: 100%;
}

.nwinfo td,th {
    padding-right: 10px;
    text-align: left;
    font-size: 0.85em;
}

.nwinfo td {
    border-bottom: 1px solid #dddddd;
}

.panLabel {
    font-size: 0.85em;
	color: #777;
	margin-right: 10px;
}
.headingSideLink {
    float: right;
    margin-top: -40px;
    padding-right: 5px;
}

.headingSideLinksPanel {
    float: right;
    margin-top: -40px;
    padding-right: 5px;
}

.headingSideLinksPanel a {
    margin-left: 10px;
}

/*================================================================
    Forms
----------------------------------------------------------------*/
.formHeader h3 {
	background-color: white;
    border-bottom: 1px solid #777777;
}

.customForm td {
	padding-bottom: 20px;
}
	
.customForm input {
	width: 190px;
}

.customForm select {
    width: 200px;
}

.digitalIOControl select {
    width: 80px;
}

.customForm textarea {
    width: 190px;
}

.buttonRow td {
	padding-top: 10px;
}

label.fieldDesc {
	font-weight: bold;
	padding-right: 20px;
}

.formHeader {
	margin-bottom: 40px;
}

/*================================================================
	Network Diagram
----------------------------------------------------------------*/
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

/*================================================================
	Tooltip
----------------------------------------------------------------*/
a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:200px; line-height:16px;
    font-size:0.8em;
}
a.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
        
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}

/*================================================================
	Multiline Chart
----------------------------------------------------------------*/
multilinechart {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*
.x.axis path {
  display: none;
}
*/

.line {
  stroke: black;
  fill: none;
  stroke-width: 0.75px;
}

.line.line0 {
  stroke: steelblue;
}

.line.line1 {
  stroke: indianred;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
}

.focus circle.y0 {
  stroke: blue;
}

.focus circle.y1 {
  stroke: red;
}

.focus line {
  stroke: purple;
  shape-rendering: crispEdges;
}

.focus line.y0 {
  stroke: steelblue;
  stroke-dasharray: 3 3;
  opacity: .5;
}

.focus line.y1 {
  stroke: indianred;
  stroke-dasharray: 3 3;
  opacity: .5;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

/*================================================================
	Scatterplot
----------------------------------------------------------------*/
scatterplot {
  font: 10px sans-serif;
}

.dot {
  stroke: #000;
}
